
.side-bar-column {
    background-color: #092A5B;
}
.horizontal-navbar {
    background-color: #092a5b;
    height: 80px;
}
.appeals {
    color: #ffffff;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
}
.appeals-total {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    opacity: 0.5;
}
.plus-button {
    font-size: 15px;
}


.right-notice-text{
    width: 90px;
    height: 24px;

    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
}

.right-notice-all{
    color: #1890FF;
    font-size: 16px;
    margin-top: 0.4%;
}

.notice-date{
    color: #9C9DA7;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
}
.notice-date-symb{
    color: #9C9DA7;
    font-style: normal;
    font-weight: 100;
    line-height: 20px;

    margin-top: -0.5%;
    font-size: 18px;
}
.notice-content{
    color: #080B22;
    line-height: 24px;
    width: 100%;
    font-size: 12.5px;
    font-weight: 600;
    height: 48px;
    overflow: hidden;
    display:inline-block;
    text-overflow: ellipsis;
}
.card-comment{
    background: none !important;
    border: none !important;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    max-height: 72%;
    overflow-y: auto;
    overflow-x: hidden
}

/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #E6E7E9;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #CECED3;
    border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #a9a9a9;
}


.side-bar-column {
    background-color: #092A5B;
}
.horizontal-navbar {
    background-color: #092a5b;
    height: 80px;
}
.appeals {
    color: #ffffff;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
}
.appeals-total {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    opacity: 0.5;
}
.plus-button {
    font-size: 15px;
}


.right-notice-text{
    width: 90px;
    height: 24px;

    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
}

.right-notice-all{
    color: #1890FF;
    font-size: 16px;
    margin-top: 0.4%;
}

.notice-date{
    color: #9C9DA7;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
}
.notice-date-symb{
    color: #9C9DA7;
    font-style: normal;
    font-weight: 100;
    line-height: 20px;

    margin-top: -0.5%;
    font-size: 18px;
}
.notice-content{
    color: #080B22;
    line-height: 24px;
    width: 100%;
    font-size: 12.5px;
    font-weight: 600;
    height: 48px;
    overflow: hidden;
    display:inline-block;
    text-overflow: ellipsis;
}
.card-comment{
    background: none !important;
    border: none !important;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    max-height: 72%;
    overflow-y: auto;
    overflow-x: hidden
}

/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #E6E7E9;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #CECED3;
    border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #a9a9a9;
}


.side-bar-column {
    background-color: #092A5B;
}
.horizontal-navbar {
    background-color: #092a5b;
    height: 80px;
}
.appeals {
    color: #ffffff;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
}
.appeals-total {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    opacity: 0.5;
}
.plus-button {
    font-size: 15px;
}


.right-notice-text{
    width: 90px;
    height: 24px;

    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
}

.right-notice-all{
    color: #1890FF;
    font-size: 16px;
    margin-top: 0.4%;
}

.notice-date{
    color: #9C9DA7;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
}
.notice-date-symb{
    color: #9C9DA7;
    font-style: normal;
    font-weight: 100;
    line-height: 20px;

    margin-top: -0.5%;
    font-size: 18px;
}
.notice-content{
    color: #080B22;
    line-height: 24px;
    width: 100%;
    font-size: 12.5px;
    font-weight: 600;
    height: 48px;
    overflow: hidden;
    display:inline-block;
    text-overflow: ellipsis;
}
.card-comment{
    background: none !important;
    border: none !important;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    max-height: 72%;
    overflow-y: auto;
    overflow-x: hidden
}
.announcement-card{
    border: 2px solid #e5e5e5;
    background: #fff
}
.announcement-card:hover{
    border: 2px solid #A3D3FF;
    background: #fff;
}
.carousel-img{
    width: 100%;
    height: 400px;
    object-fit: cover;
}
.simular-announcement{
    object-fit: cover;
}
