::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb {
    background: #cccccc;
    border-radius: 50px;
}

.plus-button {
    font-size: 15px;
}
.hr-documents {
    background-color: #E6E7E9;
    height: 2px !important;
}

tbody, td, tfoot, th, thead, tr {
    border-style: initial !important;
}
tr {
    border-bottom: 1px solid #E6E7E9 !important;
    background: #fff;
}
thead {
    font-size: 13px;
}
td {
    font-size: smaller;
    font-weight: 500;
}
th {
    font-weight: 600;
}
