::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb {
    background: #cccccc;
    border-radius: 50px;
}
.hr-documents {
    background-color: #dadada;
    height: 2px !important;
}

tbody, td, tfoot, th, thead, tr {
    border-width:  1px!important;
    height: 64px;
    width: 150px !important;
    border-style: solid !important;
}
thead tr th {
    text-align: center;
    font-weight: 500;
    font-size: 14px;
}
tbody {
    /*border: 2px solid red !important;*/
}
tbody tr td {
    text-align: right;
    background: #fff !important;
}
.rest {
    background: #F3F3F4 !important;
}

.mark{
    background: #E8F4FF !important;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border: 1px solid #A3D3FF;
    border-radius: 100%;
    position: absolute;
    top: 21%;
    right: 39%;
    color: #1890FF;
}
.mark-red{
    background: #FCEDEC !important;
    border: 1px solid #FADCDA;
    color: #E44F45;

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    position: absolute;
    top: 21%;
    right: 39%;
}
.mark-gray{
    background: #F3F3F4 !important;
    border: 1px solid #E6E7E9;
    color: #6B6D7A;

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    position: absolute;
    top: 21%;
    right: 39%;
}
.calendar-date {
    position: absolute;
    bottom: 6px;
    right: 6px;
    font-weight: 400;
    font-size: 14px;
}
.calendar:hover{
    border: 2px solid #1890FF !important;
}
.calendar-selected{
    border: 2px solid #1890FF !important;
}

.cardGroup{
    width:100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}
.card{
    width: 32.6%;
    position: relative;
    margin-top: 12px;
}
