select > option {
    border: 1px solid #1890FF !important;
    font-weight: 400 !important;
    color: #000 !important;
    font-size: 16px !important;
}
select {
    font-weight: 400 !important;
    font-size: 16px;
}
label {
    white-space: nowrap;
    color: #000000;
    font-weight: 500;
    font-size: 15px;
}
.form-control {
    color: #000000 !important;
}
